#splash {
    background: #0F2229;
}

.progress .progress-bar {
    background-color: #ffffff;
}

    .progress .progress-bar .complete {
        background-color: #0F2229;
    }

#splash .splash-inner-dl .dl-select-frame .Select-control {
    background: #0F2229;
    border-color: #0F2229;
}

#splash .splash-inner-dl .dl-select-frame .Select-menu-outer {
    background: #0F2229;
    border-color: #0F2229;
}
