@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css);

theme-dark,
.theme-light,
:root {
    --background-primary: #0F2229 !important;
    --background-secondary: #203A43 !important;
    --background-secondary-alt: #203A43 !important;
    --background-tertiary: #0F2229 !important;
    --background-accent: rgba(32, 58, 67, 0.5) !important;
    --background-floating: rgba(32, 58, 67, 0.5) !important;
    --background-modifier-hover: rgba(32, 58, 67, 0.5) !important;
    --background-modifier-active: rgba(32, 58, 67, 0.5) !important;
    --background-modifier-selected: rgba(32, 58, 67, 0.5) !important;
    --background-modifier-accent: rgba(32, 58, 67, 0.5) !important;
    --channeltextarea-background: var(--background-accent) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0,0,0,0.1) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: #BCC2D5 !important;
    --text-muted: #ffffff !important;
    --text-normal: #ffffff !important;
    --interactive-normal: #ffffff !important;
    --interactive-hover: #3F778A !important;
    --interactive-active: #203A43 !important;
    --interactive-muted: #ffffff !important;
    --header-secondary: #ffffff !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, .2) !important;
    --toast-border: var(--background-tertiary) !important;
    --offline-color: #ffffff !important;
    --text-muted: #ffffff !important;
    --interactive-normal: #ffffff !important;
    --interactive-active: #3F778A !important;
}

/*Change watermark to Enola*/
.wordmark-2iDDfm:after {
    content: "Enola";
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    font-family: "Discord";
    color: white;
}

.wordmark-2iDDfm svg {
    display: none;
}

.wordmark-2iDDfm {
    max-width: 90vw;
    text-overflow: ellipsis;
}

/*Chat bubbles*/
:root {
    --bubble-color: var(--background-tertiary);
    --bubble-padding: 5px 8px;
    --bubble-arrow-size: 5px;
}

/*User Messages*/
[data-is-author-self="true"].cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
    background-color: #3F778A;
    display: inline-block;
    max-width: 100%;
    margin: 0;
    padding: var(--bubble-padding);
    border-radius: 5px;
    position: relative;
    overflow: visible;
}

/*Other Messages*/
[data-is-author-self="false"].cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
    background-color: #203A43;
    display: inline-block;
    max-width: 100%;
    margin: 0;
    padding: var(--bubble-padding);
    border-radius: 5px;
    position: relative;
    overflow: visible;
}

.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j blockquote, .cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j pre {
    max-width: unset;
}


.container-3w7J-x {
    background-color: var(--background-primary);
}

.panels-j1Uci_ {
    background-color: var(--background-primary);
}

.scrollableContainer-2NUZem {
    background-color: #203A43;
}

.contentRegionScroller-26nc1e::-webkit-scrollbar-track,
.auto-Ge5KZx::-webkit-scrollbar-track,
.addGamePopout-2RY8Ju {
    background-color: var(--background-secondary) !important;
}

.theme-dark .container-3ayLPN {
    background-color: #3F778A;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb,
.phoneFieldScroller-2IJUdK::-webkit-scrollbar-thumb,
.infoScroller-3EYYns::-webkit-scrollbar-thumb,
.listScroller-2_vlfo::-webkit-scrollbar-thumb,
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb,
.contentRegionScroller-26nc1e::-webkit-scrollbar-thumb,
.sidebarRegionScroller-3MXcoP::-webkit-scrollbar-thumb,
.CodeMirror-hscrollbar::-webkit-scrollbar-thumb,
.scrollerBase-289Jih::-webkit-scrollbar-thumb,
.scroller-1IfWg_::-webkit-scrollbar-thumb,
.scroller-2wx7Hm::-webkit-scrollbar-thumb,
.popout-2sKjHu::-webkit-scrollbar-thumb,
.auto-Ge5KZx::-webkit-scrollbar-thumb {
    background-color: #3F778A;
    border-color: transparent !important;
}

.powercord-spotify .spotify-buttons button {
    display: none;
}

.circleIconButton-jET_ig:hover {
    background-color: #3F778A;
}

.circleIconButton-jET_ig {
    color: #3F778A;
}

.sprite-2iCowe {
    filter: grayscale(0) !important;
}

.messagesPopout-24nkyi {
    background-color: var(--background-primary);
}

.image-2JDb81 {
    display: none;
}

.channel-2QD9_O:hover {
    background-color: #3F778A;
}

.theme-dark .notches-1sAcEM.gray-3_LNYR {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%23141414'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: var(--background-secondary);
    border: none;
}

.theme-dark .uploadModal-2ifh8j {
    background-color: var(--background-primary);
}

.uploadModal-2ifh8j .inner-3nWsbo {
    background-color: var(--background-primary);
}

.uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC {
    background-color: var(--background-secondary);
}

.placeholder-37qJjk, .slateTextArea-1Mkdgw .hljs-comment, .slateTextArea-1Mkdgw .hljs-quote {
    color: white;
}

.container-3auIfb:not([style*="125"]) {
    background-color: #3F778A !important;
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > nav > ul > div.scroller-2TZvBN.none-2Eo-qx.scrollerBase-289Jih > div:nth-child(4) > div.wrapper-21YSNc.selected > div > div:nth-child(2) > div > svg > foreignObject > div > div {
    background-color: #3F778A !important;
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > nav > ul > div.scroller-2TZvBN.none-2Eo-qx.scrollerBase-289Jih > div:nth-child(4) > div.wrapper-21YSNc.selected.expanded > div > div:nth-child(2) > div > svg > foreignObject > div > div > div > svg {
    color: white !important;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: #3F778A !important;
}

.theme-dark .container-1D34oG {
    background-color: var(--background-primary);
}

.theme-dark .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover {
    background-color: #3F778A !important;
}

.theme-dark .inset-3sAvek {
    background-color: var(--background-secondary);
}

.theme-dark .popout-38lTFE {
    background-color: var(--background-secondary);
}

.theme-dark .separator-XqIyoz {
    display: none;
}

.wrapper-3Rixsz:hover {
    background-color: #3F778A !important;
}

.memberListContainer-13tNU9:hover {
    background-color: #3F778A !important;
}

.icon-22AiRD {
    color: white !important;
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    color: white;
}

.onlineFriends-counter {
    color: white;
}

.header-3msK0M {
    background-color: var(--background-primary);
}

.templatesList-2E6rTe {
    background-color: var(--background-primary);
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.container-1D34oG > section > div.children-19S4PO > div.tabBar-ZmDY9v.topPill-30KHOu > div:nth-child(5) {
    background-color: #3F778A !important;
}

.theme-dark .pageWrapper-1PgVDX {
    background-color: var(--background-primary);
}

.circleIconButton-jET_ig.selected-ugP_am {
    background-color: #3F778A !important;
}

.title-3w8xhj {
    color: white;
}

#app-mount > div.layerContainer-yqaFcK > div.layer-2KE1M9 > div > div > div > div > div > div {
    background-color: var(--background-primary);
    border: none;
}

.theme-light .footer-2gL1pp {
    background-color: var(--background-secondary);
     -webkit-box-shadow: none;
}

.lookFilled-1Gx00P.colorGrey-2DXtkV {
    background-color: var(--background-primary);
}

.lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
    background-color: #3F778A;
}

.theme-light .root-1gCeng {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.theme-dark .footer-1fjuF6 {
    background-color: var(--background-primary);
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: var(--background-primary);
}

.headerPlaying-j0WQBV {
    background-color: var(--background-primary);
}

.activity-11LB_k {
    background-color: rgba(0,0,0,0.25);
    padding: 16px;
} 

.colorDefault-2K3EoJ:hover {
    background-color: var(--background-secondary);
}

.colorDefault-2K3EoJ.focused-3afm-j {
    background-color: var(--background-secondary);
}

.autocompleteInner-zh20B_ {
    background-color: var(--background-secondary);
}

.base-1pYU8j:hover {
    background-color: #3F778A;
}

.theme-dark .description-11DmNu, .theme-dark .descriptionUsername-J_75O8 {
    color: white;
}

.theme-dark .selected-1Tbx07 {
    background-color: #3F778A;
}

.textarea-2r0oV8 {
    color: white;
}

.input-cIJ7To {
    border: none;
}

.input-cIJ7To {
    color: white;
}

.theme-dark .headerNormal-T_seeN {
    background-color: var(--background-primary);
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > nav > ul > div.scroller-2TZvBN.none-2Eo-qx.scrollerBase-289Jih > div:nth-child(4) > div.wrapper-21YSNc > div > div:nth-child(2) > div > svg > foreignObject > div > div {
    background-color: #3F778A !important;
}

.theme-dark .notDetected-33MY4s, .theme-light .notDetected-33MY4s {
    background-color: #3F778A !important;
}

.theme-dark .card-FDVird:before {
    background-color: #3F778A !important;
    border-color: #3F778A !important;
}

.theme-dark .lastPlayed-3bQ7Bo, .theme-dark .overlayStatusText-L2IACa {
    color: white;
}

.theme-dark .overlayToggleIconOn-3UNmty .fill-1ugeBG {
    fill: white;
}

.theme-dark .game-1ipmAa {
    -webkit-box-shadow: none;
}

.theme-dark .paginator-166-09 {
    background-color: var(--background-secondary) !important;
}

.theme-dark .bottomDivider-1K9Gao {
    background-color: var(--background-secondary) !important;
}

.theme-dark .bottomDivider-1K9Gao {
    border-bottom: none;
}

.theme-dark .expandedInfo-3kfShd {
    background-color: #3F778A !important;
}

.theme-dark .paymentHeader-3QlZQi {
    border: none;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
        background-color: #3F778A !important;

}

.clickable-1JJAn8:hover .layout-2DM8Md {
    background-color: rgba(32, 58, 67,0.75)
}

.theme-dark .headerClickable-2IVFo9, .theme-dark .headerDefault-1wrJcN {
    background-color: rgba(32, 58, 67,0.75)
}

.theme-dark .streamPreview-2-WUWT {
    background-color: var(--background-secondary);
}

#channels > div > div:nth-child(9) > div.list-2luk8a.list-SuzGBZ.listDefault-3ir5aS > div:nth-child(1) > div > div > div.icons-1dXQdz > div > div {
    background-color: #3F778A !important;
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > nav > ul > div.scroller-2TZvBN.none-2Eo-qx.scrollerBase-289Jih > div:nth-child(4) > div.wrapper-21YSNc.expanded > div > div:nth-child(2) > div > svg > foreignObject > div > div > div > svg {
    color: white !important;
}

.newMessagesBar-265mhP {
    background-color: #3F778A !important;
}

.botTagRegular-2HEhHi {
    background: #3F778A;
}

.fade-18lLrh.didRender-33z1u8 {
    background-color: var(--background-secondary);
}

.colorDefault-2K3EoJ:hover {
    background: #3F778A;
}

.theme-dark .root-1gCeng {
    background-color: var(--background-primary);
}

.theme-dark .footer-2gL1pp {
    background-color: var(--background-secondary);
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: #3F778A;
}

.styleFlexible-wGDiIL {
    background-color: var(--background-primary);
}

.scroller-3BxosC {
    background-color: var(--background-primary);
}

.headerSpotify-zpWxgT {
    background-color: var(--background-primary);
}

.activity-11LB_k {
    background-color: rgba(0,0,0,0.25);
}

.topSectionSpotify-1lI0-P {
    background-color: var(--background-primary);
}

.headerFill-adLl4x {
    background-color: rgba(0,0,0,0.25);
}

.topSectionPlaying-1J5E4n {
    background-color: var(--background-primary);
}

.headerFill-adLl4x {
    background-color: rgba(0,0,0,0.25);
}

.barFill-23-gu- {
    background-color: #3F778A;
}

.theme-dark .bar-2Qqk5Z {
    background-color: var(--background-secondary);
}

.grid-1nZz7S.hasThumbnail-3FJf1w {
    display: none;
}

.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: #3F778A;
}

.resultsGroup-r_nuzN {
    background-color: var(--background-primary);
}

.theme-dark .option-96V44q:after {
    display: none;
}

.body-3ND3kc {
    margin-left: 102%;
    position: absolute;
    height: 100%;
    border-radius: 25px;
}

.root-SR8cQa {
    overflow: visible;
}

.tabBarContainer-1s1u-z {
    z-index: 1;
}

.guildNick-3uAm3i, .listName-3w10cx {
    display: none;
}

.listRow-hutiT_ {
    position: center;
}

.listAvatar-1NlAhb {
    margin-right: 0;
}

.infoScroller-3EYYns {
    width: auto;
}

.note-QfFU8y textarea {
    width: 200px;
}

.topSectionPlaying-1J5E4n, .root-SR8cQa {
    border-radius: 25px;
}

.lookFilled-1Gx00P .contents-18-Yxp, .lookInverted-2D7oAl .contents-18-Yxp, .lookLink-9FtZy- .contents-18-Yxp, .lookOutlined-3sRXeN .contents-18-Yxp {
    color: white;
}

.streamPreviewWrapper-2DSWOK {
    padding-left: 0px;
}

.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
    background-color: #3F778A;
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: var(--background-secondary);
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: var(--background-secondary);
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
        background-color: #3F778A;
 }

.topSectionNormal-2-vo2m {
    height: 400px;
    border-radius: 25px;
}

.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z {
        display: grid;
 }

.tabBar-2MuP6-, .tabBarItem-1b8RUP {
    display: grid;
}

.tabBarContainer-1s1u-z {
    height: 75px;
    padding-top: 10px;
}

.infoScroller-3EYYns::-webkit-scrollbar {
    display: none;
}

.modal-3c3bKg {
    position: absolute;
    width: 85%
}

.tabBarContainer-1s1u-z {
    border-top: 0px;
}

.modal-3c3bKg {
    margin-left: -8.75vw;
}
