/**
 * @name Enola
 * @version 1.0.0
 * @description Enola
 * @author ğ™ğ™¡.#9999
 * @source https://github.com/Conjuringil/Enola/blob/main/theme.css
*/

@import url(https://conjuringil.github.io/Enola/theme.css);
